{# /templates/macros/alertes.html.twig #}
{% macro alert(message, type) %}
<div class="alert alert-{{ type }}" role="alert">
  {{ message }}
</div>
{% endmacro%}


<!--Utilisation des alertes dans un twig !-->
<!--{# /templates/macros/alertes.html.twig 
{% macro alert(message, type) %}
<div class="alert alert-{{ type }}" role="alert">
  {{ message }}
</div>
{% endmacro%}
#}